<p>je suis le fil d'ariane!</p>
<div class="container d-flex justify-content-between">
  <div class="row" *ngIf="shoppingCart$ | async as shopping">
    <div class="d-flex mb-3 background-color-light-grey justify-content-around align-items-center box mr-5 col-11" *ngFor="let product of shopping.products" >
      <div>
         <p>{{product.nameProduct}}</p>
        <div class="d-flex">
          <p class="mx-2">{{product.familly.nameFamilly}}</p>
          <p class="mx-2">{{product.house.nameHouse}}</p>
          <p class="mx-2">{{product.year}}</p>
        </div>
      </div>
      <p>{{product.quantity}}</p>
      <p>{{product.unitePrice | currency:'EUR'}}</p>
    </div>
  </div>
  <div class="background-color-light-grey box p-3 ml-3 col-4 d-flex flex-column justify-content-around" *ngIf="shoppingCart$ | async as shopping" >
    <p class="font-weight-700 ">ARTICLES</p>
    <div *ngFor="let product of shopping.products">
      <div class="d-flex justify-content-end rox">
        <p class="col w-100">{{product.nameProduct}}</p>
        <p class="col">{{product.quantity}}</p>
        <p class="col">{{product.unitePrice | currency:'EUR'}}</p>
      </div>
    </div>
    <div>
      <p>Total</p>
      <button class="button px-3">Procéder au payement</button>
    </div>

  </div>
</div>
