<!--<div>
  <div class="card" (click)=" onViewDetailProduct()">
    <span class="background-color-red align-self-end">{{product.unitePrice | currency: 'EUR'}}</span>
    <img src="/src/assets/images/bottle.png" class="card-img-top" alt="produit">
    <div class="card-body ">
      <p class="card-title">{{product.nameProduct}}</p>
      <span class="background-color-red ">{{product.familly.nameFamilly}}</span>
      <p class="card-text m-2">{{product.comment}}</p>
      &lt;!&ndash;<a href="#" class="btn btn-primary">Go somewhere</a>&ndash;&gt;
    </div>
  </div>
</div>-->
