:host{
  height: calc(100% - 325px);
  display: block;
  align-items: center;
  justify-content: space-around;
  margin: 0 5em;
}

/* ------- width ------- */
.homepage-title {
  width: 36%;
}

img {
  height: 25rem;
}


@media (max-width: 700px) {
  img {
    display: none;
  }
  div {
    margin-bottom: 5em;
  }
}
