<mat-drawer-container
  [autosize]="true"
  class="min-vh-100 mx-auto"
>
<mat-drawer mode="side" opened class="p-5 w-25">
  </mat-drawer>
  <mat-drawer-content class="background-color-white" >
    <h1 class="font-weight-800 mt-1 ms-5">Nos vins</h1>
    <app-products-header
      (columnsCountChange)="onColumnsCountChange($event)"
    ></app-products-header>
    <mat-grid-list
      gutterSize="16"
      [cols]="cols"
      [rowHeight]="rowHeight"
      class="m-5"
    >
      <mat-grid-tile *ngFor="let product of products$ | async" >
       <app-product-box
         class="w-100" [fullWidthMode]="cols ===1"
         [product]="product"
       ></app-product-box>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-drawer-content>
</mat-drawer-container>






<!--

<div class="filter-bar d-flex align-self-end mt-5">
    <select class="button-grid mx-2" id="floatingSelect" aria-label="Floating label select example" >
      <option selected  >Trier par: Prix, croissant, ...</option>
     <option value="1">1</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  <button class="button-grid mx-2"><i class="fa-solid fa-grip"></i></button>
  <button class="button-grid mx-2"><i class="fa-solid fa-list"></i></button>
  <div class="input-group button-grid p-0 mx-2">
    <input type="text" class="button-grid" aria-label="Dollar amount" placeholder="Rechercher">
    <span class="input-group-text"> <i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
</div>

<div class="d-flex w-100 justify-content-around mt-5">
  <div>
    <h2>Famille</h2>
    <div class="form-check" *ngFor="let family of families$ | async" >
      <input class="form-check-input" type="checkbox" value="{{family.nameFamilly}}" id="flexCheck">
      <label class="form-check-label" for="flexCheck">
        {{family.nameFamilly}}
      </label>
    </div>
    <hr>
    <h2>Année</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
    </div>
    <h2>Prix</h2>
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    <hr>
  </div>
  <div class="d-flex flex-wrap">
    <app-product-list *ngFor="let product of products$ | async" [product]="product" class="m-2"></app-product-list>
  </div>
</div>-->

