<h1>S'inscrire</h1>
<form [formGroup]="signupForm" (ngSubmit)="signup()" class="w-50 mx-auto my-5 background-color-light-grey p-3">
  <div class="mb-3">
    <label for="lastname" class="form-label">Nom</label>
    <input type="text" [formControlName]="'lastname'" class="form-control" id="lastname" >
    <span *ngIf="!signupForm.get('lastname').valid && signupForm.get('lastname').touched">
      Saisir un nom valid
    </span>
  </div>

  <div class="mb-3">
    <label for="firstname" class="form-label">Prénom</label>
    <input type="text" [formControlName]="'firstname'" class="form-control" id="firstname" aria-describedby="emailHelp">
    <span *ngIf="!signupForm.get('firstname').valid && signupForm.get('firstname').touched">
      Saisir un prénom valid
    </span>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label">Adresse email</label>
    <input type="email" [formControlName]="'email'" class="form-control" id="email" aria-describedby="emailHelp">
    <span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
      Saisir un email valid
    </span>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
    <input type="password" [formControlName]="'password'" class="form-control" id="exampleInputPassword1">
    <span *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
      Saisir un mot de passe valid
    </span>
  </div>
  <button type="submit" class="button px-3">S'inscrire</button>
</form>
