<div>
  <div class="card">
    <span class="background-color-red align-self-end">{{product.unitePrice | currency: 'EUR'}}</span>
    <img src="/assets/images/bottle.png" class="card-img-top" alt="produit">
    <div class="card-body ">
      <p class="card-title">{{product.nameProduct}}</p>
      <span class="background-color-red ">{{product.familly.nameFamilly}}</span>
      <p class="card-text m-2">{{product.comment}}</p>
      <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
  </div>
</div>
