<footer class="w-100">
  <div class="d-flex flex-sm-row justify-content-sm-around align-items-sm-start pt-5">
    <img src="../assets/images/logo-white.png" alt="negosug" width="100" height="100">
    <ul>
      <li class="font-weight-600">Plan du site</li>
      <li class="ms-2">Accueil</li>
      <li class="ms-2">Nos Vins</li>
      <li class="ms-2">Contact</li>
    </ul>
    <ul>
      <li class="font-weight-600">Espace client</li>
      <li class="ms-2">Mon compte</li>
      <li class="ms-2">Panier</li>
      <li class="ms-2">Mes commandes</li>
    </ul>
    <ul>
      <li class="font-weight-600">Contact</li>
      <li><i class="fa-solid fa-envelope"></i> contact@negosud.fr</li>
      <li><i class="fa-solid fa-mobile-screen-button"></i> +33674875998</li>
      <li><i class="fa-solid fa-location-dot"></i> 7 rue Raphael<p class="ms-3"> 32800, Eauze</p></li>
    </ul>
  </div>
  <p class="pb-2 text-center mb-0 color-legal-notice">Mentions légales - Politique de confidentialitées</p>
</footer>
