<h1> Mon Panier</h1>


  <p *ngIf="!dataSource.length">Votre panier est vide</p>
<div class="d-flex justify-content-between m-5 w-50">

  <div class="me-4" *ngIf="dataSource.length">
    <div class="product d-flex mb-3 background-color-light-grey justify-content-around align-items-center box mr-5 col-11" *ngFor="let element of dataSource" style="width: 800px">
      <img src="assets/images/bottle.svg" style="height: 86px;">
      <div>
         <p>{{element.product.nameProduct}}</p>
        <div class="d-flex">
          <p class="mx-2">{{element.product.familly.nameFamilly}}</p>
          <p class="mx-2">{{element.product.house.nameHouse}}</p>
          <p class="mx-2">{{element.product.year}}</p>
        </div>
      </div>

      <div class="d-flex">
      <!--<button type="button" (click)="removeProduct()"><mat-icon>remove</mat-icon></button>-->
      <span>{{element.quantity}}</span>
    <!--  <button type="button" (click)="onAddQuantity(element.product)"><mat-icon>add</mat-icon></button>-->
        </div>
      <span *ngIf="!element.isPackage">{{element.product.unitePrice | currency:'EUR'}}</span>
      <img *ngIf="!element.isPackage"
           src="assets/images/icons/mdi_bottle-wine.svg" style="width: 48px">
      <span *ngIf="!element.isPackage">{{ (element.product.unitePrice  * element.quantity) | currency:'EUR'}}</span>

      <span *ngIf="element.isPackage">{{element.product.packagePrice | currency:'EUR'}}</span>
      <img *ngIf="element.isPackage"
           src="assets/images/icons/mdi_package-variant.svg" style="width: 48px">
      <span *ngIf="element.isPackage">{{ (element.product.packagePrice  * element.quantity) | currency:'EUR'}}</span>
      <button (click)="onRemoveFromCart(element)">
        <mat-icon>close</mat-icon>
      </button>
  </div>

    <button class="w-25 button"
            (click)="onClearCart()">Vider mon panier
    </button>
  </div>
  <div class="background-color-light-grey box p-3 ml-3 col-5 d-flex flex-column justify-content-around" *ngIf="dataSource.length" >
    <p class="font-weight-700 ">ARTICLES</p>
     <!-- <div class="d-flex justify-content-end row">
        <p class="col w-100">{{product.nameProduct}}</p>
        <p class="col">{{product.quantity}}</p>
        <p class="col">{{product.unitePrice | currency:'EUR'}}</p>
      </div>-->

    <div>
      <p>Total</p>
      <button class="button px-3">Procéder au payement</button>
    </div>
  </div>
</div>

