<h1 class="font-weight-800 mt-1">Nos vins</h1>

<div class="filter-bar d-flex align-self-end mt-5">
    <select class="button-grid mx-2" id="floatingSelect" aria-label="Floating label select example" >
      <option selected>Trier par: Prix, croissant, ...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  <button class="button-grid mx-2"><i class="fa-solid fa-grip"></i></button>
  <button class="button-grid mx-2"><i class="fa-solid fa-list"></i></button>
  <div class="input-group button-grid p-0 mx-2">
    <input type="text" class="button-grid" aria-label="Dollar amount" placeholder="Rechercher">
    <span class="input-group-text"> <i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
</div>

<div class="d-flex w-100 justify-content-around mt-5">
  <div>
    <h2>Famille</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultfd">
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
    </div>
    <hr>
    <h2>Année</h2>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
    </div>
    <h2>Prix</h2>
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    <hr>
  </div>
  <div>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

